.success-page-bg {
  position: relative;
  background: linear-gradient(#60606565, rgba(49, 59, 52, 0.234)),
    url("../images/gallery_images/19.jpeg") no-repeat center center/cover;
  padding-bottom: 250px;
  padding-top: 150px;
  z-index: 10;
}

.success-container {
  position: relative;
  text-align: center;
}

.success-content {
  padding: 5px;
  margin: 55px auto;
}
